html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  header{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 1px black;
      margin: 10px;
      border-radius: 10px;
      background-color: gray;
      color: white;

  }

  header p{
      font-family: verdana;
      font-size: 20px;
      text-decoration: underline;
  }
  #menu-container ul{
      display: flex;
      justify-content: space-around;
      align-self: center;
      padding: 10px;
  }

  #menu-container li {
      margin: 10px;
      list-style: none;
  }
  .aside-one{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 80%;

  }
  .aside-two{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 250px;
      padding: 10px;
      background-color: rgba(128, 128, 128, 0.404);
      border: solid 1px black;
      margin: auto;
      border-radius: 10px;
      align-self: center;
  }
  .aside-two h2{
      text-align: center;
  }