div:hover {
    border: 2px solid red;
   
}
div:nth-child(3){
    color: red;
}
div:nth-child(4){
    color: green;
}
div:nth-child(5){
    color: blue;
}
div:nth-child(6){
    color: yellow;
}
div:nth-child(7){
    color: grey;
}