.listafrases li {
    background-color: yellow;
    font-size: 1em;
}
.intemPar{
  color: green;;
}

.intemImpar{
    text-transform: uppercase;
}
h1, h2, h3, h4 {
    color: red;;
}
#title em{
    font-size: 40px;
    border: 1px solid black;

}